#page-content {
 // background-color: green;
}

.Tinjohnadded {
    color: green;
}

#toggled-instrc {
    display: none;
}
#toggle-instruction {
    display: none;
}
#loginform-label-toggle-instruction {
    width: 100%;
}

#loginform-label-toggle-instruction::after {
    content: '\f150';
    font-family: 'FontAwesome';
    color: #7A000C;
    float: right;
    text-align: right;
    font-size: 1.5em;
}
#label-toggle-instruction::after {
    content: '\f150';
    font-family: 'FontAwesome';
    color: #7A000C;
    font-size: 1.5em;
}

#instrc-short {
    overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical; 
}
#loginform-instrc-short {
    overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical; 
}
  
#loginform-toggle-instruction:checked ~ span {
    display: block;
}
#loginform-toggle-instruction:checked ~ #loginform-label-toggle-instruction::after {
    content: '\f151';
}

#toggle-instruction:checked ~ span {
    display: block;
}
#toggle-instruction:checked ~ #label-toggle-instruction::after {
    content: '\f151';
}
#id-password::after {
    content: '\f151';
}

div[data-fieldtype="password"]::after {
    font-family: 'FontAwesome';
    color: #7A000C;
    content: '\f06e...\f040';
}