#page-content {
 // background-color: green;
}

.Tinjohnadded {
    color: green;
}

#toggled-instrc {
    display: none;
}
#loginfrom-toggle-instruction {
    display: none;
}
#label-loginfrom-toggle-instruction {
    width: 100%;
}

#label-loginfrom-toggle-instruction::after {
    content: '\f150';
    font-family: 'FontAwesome';
    color: #7A000C;
    float: right;
    text-align: right;
    font-size: 1.5em;
}
#instrc-short {
    overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical; 
}
  
#loginfrom-toggle-instruction:checked ~ span {
    display: block;
}
#loginfrom-toggle-instruction:checked ~ #label-loginfrom-toggle-instruction::after {
    content: '\f151';
}