#page-content {
 // background-color: green;
}

.Tinjohnadded {
    color: green;
}

#toggled-instrc {
    display: none;
}
#toggle-instruction {
    display: none;
}
#loginform-label-toggle-instruction {
    width: 100%;
}

#loginform-label-toggle-instruction::after {
    content: '\f150';
    font-family: 'FontAwesome';
    color: #7A000C;
    float: right;
    text-align: right;
    font-size: 1.5em;
}
#label-toggle-instruction::after {
    content: '\f150';
    font-family: 'FontAwesome';
    color: #7A000C;
    font-size: 1.5em;
}

#instrc-short {
    overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical; 
}
#loginform-instrc-short {
    overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical; 
}
  
#loginform-toggle-instruction:checked ~ span {
    display: block;
}
#loginform-toggle-instruction:checked ~ #loginform-label-toggle-instruction::after {
    content: '\f151';
}

#toggle-instruction:checked ~ span {
    display: block;
}
#toggle-instruction:checked ~ #label-toggle-instruction::after {
    content: '\f151';
}
#id-password::after {
    content: '\f151';
}

#toggle-password {
   display: none;
}
#toggle-password:checked ~ #label-toggle-password::after {
    content: '\f06e';
}
#label-toggle-password::after {
    content: '\f070';
    font-family: 'FontAwesome';
    color: #7A000C;
    font-size: 1.5em;
    margin-left: -1.5em;
}

.forpassword {
    display: flex;
}

.nodecoration {
    color: var(--danger);
    list-style: none;
}

/*   scss raw */

/* for frontpage */
@media only screen and (max-width: 768px) {
    #theme-block-region-content-upper, #theme-block-region-content-lower {
      margin-left: 0px; 
      margin-right: 0px;
    }
    
    }
    
    @media only screen and (max-width: 930px) {
    /* in github maybe released */
    #block-region-content-lower .block_ildmetaselect {
      margin: 0 0;
    } 
    
    }
    
    header#page-header .progress {
        background-color: #d9d9d9;
    }
    .login-container {
        border-radius: 2rem;
    }
    
    /* front-end */
    
    .pagelayout-frontpage div#learnrpage{
        background-color: transparent;
        border: 0px solid #dee2e6;
    }
    .pagelayout-frontpage header#page-header{
        display: none;
    }
    .pagelayout-frontpage .course-content {
         border: 15px solid #fff;
        border-radius: 34px 0 0 0;
    }
    
    .pagelayout-frontpage .primary-navigation {
        visibility: hidden;
    }
    
    .block_ildmetaselect {
       max-width: unset;
    }
    .metatile-container {
       max-width: 90%;
    }
    
    span.h5pisyml {
        display: none;
    }
    span.h5pisyml[lang=en] {
        display: inherit;
    }
    
    /* My courses */
    .dashboard-card-deck {
        .dashboard-card {
            .dashboard-card-img {
                height: 11rem;
                background-position: center;
                background-size: contain;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                background-repeat: no-repeat;
            }
        }
    }
    
    