#toggle-password {
   display: none;
}
#toggle-password:checked ~ #label-toggle-password::after {
    content: '\f06e';
}
#label-toggle-password {
    color: #7A000C;
}

#label-toggle-password::after {
    content: '\f070';
    font-family: 'FontAwesome';
    font-size: 1.5em;
    margin-left: -1.5em;
}

#label-toggle-password:hover {
    cursor: pointer;
    color: #540008;
}
.forpassword {
    display: flex;
}

