#toggle-password {
   display: none;
}
#toggle-password:checked ~ #label-toggle-password::after {
    content: '\f06e';
}
#label-toggle-password::after {
    content: '\f070';
    font-family: 'FontAwesome';
    color: #7A000C;
    font-size: 1.5em;
    margin-left: -1.5em;
}

.forpassword {
    display: flex;
}

