{{!
    @template core/signup_form_layout

    Example context (json):
    {
        "logourl": "https://moodle.org/logo/moodle-logo.svg",
        "sitename": "Site name",
        "formhtml": "<p>(Form html would go here)</p>"
    }
}}


<div class="signupform">
    
    <h1 class="login-heading">{{#str}} newaccount {{/str}}</h1>
    {{{formhtml}}}
    <div id="formerrorssummary" class="hidden">{{#str}} missingvals, theme_oncapflege {{/str}}<ul></ul><div>

</div>

{{#js}}
const togglestr = new Array(`{{#str}} toggle-info, theme_oncapflege {{/str}}`);
const strs = new Array(`{{#str}} previous, theme_oncapflege {{/str}}`, `{{#str}} next, theme_oncapflege {{/str}}`, `{{#str}} fromthetop, theme_oncapflege {{/str}}`)
const placeholder_n_str = new Array(`{{#str}} profilefieldmothertongue, theme_oncapflege {{/str}}`,`{{#str}} forexamplelang, theme_oncapflege {{/str}}`);

    require(['theme_oncapflege/showpassword'], (module) => module.init(togglestr));
    require(['theme_oncapflege/signupwizard'], (module) => module.init(strs));
    require(['theme_oncapflege/placeholder'], (module) => module.init(placeholder_n_str));
{{/js}}

